
header {
  margin: auto;
  background-color: white;
  width: 100%;
  /*height: 55px;*/
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 2;
  outline: 1px solid black;
}

h1 {
  font-family: 'Libre Barcode 39 Extended Text', cursive;
  font-size: 80px;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/*@media (max-width: 500px) {}*/
#background {
  background-size: auto;
  background-repeat: no-repeat;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
}


.name {
  text-align: right;
  padding: 10px 0 0 0;
}

.home-section {
  position: relative;
  background-position: center;
  left: 0;
  top: 0;
  min-height: 400px;
  height: 100%
  width: 100%;
}

section {
  margin-bottom: 100px;
}

#headshot {
  width: 426.75px;
  height: 640px;
}

.about {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.quote {
  text-align: right;
}

.title {
  width: 100%;
}

h3 {
  text-align: center;
  margin-top: 40px;
}

@media(max-height: 100%){
  .image {
    width: auto;
    height: auto;
    max-width: 100%;
    min-height: 100%;
  }
}

img {
  outline: 1px solid black;
  text-shadow: 4px 4px;
}

.projects {
  padding: 20px;
}

.dev-icons {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 80px;
  margin-right: 0;
  font-size: 50px;
  text-align: center;
}

.icon-text {
  text-align: center;
  margin-right: 60px;
}

/*#django {
  height: 75px;
  width: 75px;
}*/

/*.skill-square {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center
}*/

.row {
  margin: 0 4% 0 4%;
}

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  padding: 10px;
  margin: 0 auto;
  outline: 1px solid black;
}

.fa {
  color: black;
  margin: 0 25px 0 25px;
}


